@import '_reset.scss';
@import 'mixins/_mixins';
@import '_colors.scss';

@include font-face('Silka', 'silka-regular', 'silka', 'sans-serif');

body {
  background-color: $basic-bg;
  color: $text-color;
  font-family: 'Silka', sans-serif;
  font-size: 1.2rem;
}

.container {
  box-sizing: border-box;
  padding: 0 10px;

  .search-bar {
    padding: 1.25rem 0;
    @include min-width($minWidth);
    @include max-width($maxWidth);
    margin: auto;
    text-align: center;

    .input-wrapper {
      position: relative;
      display: inline-block;
      min-width: 520px;
      padding: .9375rem .9375rem .9375rem 2.8125rem;
      border-radius: 30px;
      border: 0;
      background-color: $content-bg;
      color: $pale-color;
      font-size: 1rem;
      @include box-shadow($shadows);

      &::before {
        display: inline-block;
        position: absolute;
        top: calc(50% - 12px);
        left: 20px;
        width: 24px;
        height: 24px;
        content: "";
        @include svgIcon(magnifier, no-repeat, $pale-color);
      }

      input {
        border: 0;
        min-width: 500px;
      }
    }
  }

  .sort-bar {
    margin: auto;
    padding: 0 0 1.25rem;
    text-align: center;
    @include max-width($maxWidth);
    color: $pale-color;
    font-size: .8rem;

    span {
      background-color: $content-bg;
      position: relative;
      display: inline-block;
      padding: .625rem 2.5rem .625rem .625rem;
      margin: 0 0 0 .8rem;
      color: $text-color;
      border-radius: 30px;
      @include box-shadow($shadows);
      cursor: pointer;

      &::before {
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
      }

      &.sort-asc {
        &::before {
          @include svgIcon(arrow-down, no-repeat, $pale-color);
        }
      }

      &.sort-desc {
        &::before {
          @include svgIcon(arrow-up, no-repeat, $pale-color);
        }
      }
    }
  }

  .items-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    //@include min-width($minWidth);
    @include max-width($maxWidth);
    padding: 1.25rem;
    margin: auto;
    min-height: 300px;

    /* Force new columns */
    &::before,
    &::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
    }

    .item {
      position: relative;
      margin-bottom: 1.8rem;
      padding: 3.75rem 1rem 1.25rem 2.5rem;
      background-color: $content-bg;
      border-radius: 8px;
      @include box-shadow($shadows);

      /* Re-order items into 2 rows */
      &:nth-child(2n+1) {
        order: 1;
        margin-right: .25rem;
      }

      &:nth-child(2n) {
        order: 2;
      }

      &::before {
        display: inline-block;
        width: 30px;
        height: 30px;
        content: "";
        position: absolute;
        top: 20px;
        left: 20px;
        @include svgIcon(quote, no-repeat, $accent-color);
      }
    }

    .text {
      margin-bottom: 1.5rem;
      font-size: .875rem;
      line-height: 1.6;
    }

    .tags {
      font-size: .75rem;
      color: $pale-color;
      margin-bottom: 1.2rem;

      span {
        display: inline-block;
        min-width: 1.875rem;
        margin: 0 .5rem 0 0;
        padding: .5rem;
        border: 1px solid $pale-color;
        border-radius: 1.25rem;
        text-align: center;
      }
    }

    .author-details {
      font-size: .75rem;
      color: $pale-color;

      span {
        padding-right: .1875rem;
      }
    }

    .delete-button {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;

      &::before {
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
        @include svgIcon(x, no-repeat, $pale-color);
      }
    }
  }
}

@include for-phone-only {
  .container {
    width: calc(100% - 2.5rem);
    margin: auto;

    .items-container {
      min-width: auto;
      width: auto;
      display: block;
      padding: 0;
    }

    .item {
      width: auto;
    }

    .search-bar {
      padding: .75rem 0;
      min-width: 260px;

      .input-wrapper {
        min-width: 225px;

        input {
          min-width: auto;
        }
      }
    }

    .sort-bar {
      padding: 0 0 .25rem;

      label {
        display: none;
      }

      span {
        width: 225px;
        margin: 0 0 .5rem;
      }
    }
  }
}

@include for-tablet-portrait-up {
  .container {
    .items-container {
      padding: 0;

      .item {
        width: 48%;
        box-sizing: border-box;
        margin-bottom: 1.25rem;

        &:nth-child(2n+1) {
          margin-right: 0;
        }
      }


    }
  }
}

@include for-desktop-up {
  .container {
    .items-container {
      .item {
        width: 48.5%;
        margin-bottom: 1.75rem;
      }
    }
  }
}