@import '_reset.scss';
@import 'mixins/_mixins';
@import '_colors.scss';

@include font-face('Silka', 'silka-regular', 'silka', 'sans-serif');

body {
  background-color: $basic-bg;
  color: $text-color;
  font-family: 'Silka', sans-serif;
  font-size: 1.2rem;
}

.container {
  .search-bar {
    padding: 1.25rem 0;
    @include min-width($minWidth);
    @include max-width($maxWidth);
    margin: auto;
    text-align: center;

    input {
      min-width: 520px;
      padding: .9375rem .9375rem .9375rem 2.8125rem;
      border-radius: 30px;
      border: 0;
      @include box-shadow($shadows);
      background-image: url('../icons/magnifier.svg');
      background-repeat: no-repeat;
      background-position: 10px 10px;
      background-size: 25px 25px;
      color: $pale-color;
    }
  }

  .sort-bar {
    margin: auto;
    text-align: center;
    @include max-width($maxWidth);
    color: $pale-color;
    font-size: .8rem;

    span {
      background-color: $content-bg;
      position: relative;
      display: inline-block;
      padding: .625rem 2.5rem .625rem .625rem;
      margin: 0 0 0 .8rem;
      color: $text-color;
      border-radius: 30px;
      @include box-shadow($shadows);
      cursor: pointer;

      &::before {
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
      }

      &.sort-asc {
        &::before {
          @include svgIcon(arrow-down, no-repeat, $pale-color);
        }
      }

      &.sort-desc {
        &::before {
          @include svgIcon(arrow-up, no-repeat, $pale-color);
        }
      }
    }
  }

  .items-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    @include min-width($minWidth);
    @include max-width($maxWidth);
    padding: 1.25rem;
    margin: auto;
    min-height: 300px;

    /* Force new columns */
    &::before,
    &::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
    }

    .item {
      position: relative;
      margin-bottom: 2%;
      /* Optional */
      padding: 3.75rem .25rem 1.25rem 2.5rem;
      background-color: $content-bg;
      border-radius: 8px;
      @include box-shadow($shadows);

      /* Re-order items into 2 rows */
      &:nth-child(2n+1) {
        order: 1;
        margin-right: .25rem;
      }

      &:nth-child(2n) {
        order: 2;
      }

      &::before {
        display: inline-block;
        width: 30px;
        height: 30px;
        content: "";
        position: absolute;
        top: 20px;
        left: 20px;
        @include svgIcon(quote, no-repeat, $accent-color);
      }
    }

    .text {
      margin-bottom: 1.5rem;
      font-size: .875rem;
      line-height: 1.6;
    }
  
    .tags {
      font-size: .75rem;
      color: $pale-color;
      margin-bottom: 1.2rem;
  
      span {
        display: inline-block;
        min-width: 1.875rem;
        margin: 0 .5rem 0 0;
        padding: .5rem;
        border: 1px solid $pale-color;
        border-radius: 1.25rem;
        text-align: center;
      }
    }

    .author-details {
      font-size: .75rem;
      color: $pale-color;
  
      span {
        padding-right: .1875rem;
      }
    }

    .delete-button {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
  
      &::before {
        display: inline-block;
        width: 20px;
        height: 20px;
        content: "";
        @include svgIcon(x, no-repeat, $pale-color);
      }
    }
  }
}

@include for-phone-only {
  .container {
    .items-container {
      flex-flow: column;
    }

    .item {
      width: 100%;
    }

    .item:nth-child(2n+1),
    .item:nth-child(2n) {
      order: 0;
      margin-right: 0;
    }

    .search-bar {
      input {
        @include min-width($minWidth);
      }
    }
  }
}

@include for-tablet-portrait-up {
  .container {
    .item {
      width: 43%;
    }
  }
}

@include for-desktop-up {
  .container {
    .item {
      width: 46%;
    }
  }
}